<% provide(:title, "Contact") %>
<h1>Contact Us</h1>
<p>If you have any questions, suggestions, or you would like to report a bug, please send an email to <em>socialcamp.me at gmail dot com</em>. Thank you!</p>
