<div class="center hero-unit">
	<h1>Welcome to SocialCamp</h1>
	
	<h2>
		A <em>naive</em> <a href='http://basecamp.com'>Basecamp</a> clone.
	</h2>
	
	<%= link_to "Sign up", '#', class: "btn btn-large btn-primary" %>
</div>