<div class="center hero-unit">
	<h1>Welcome to SocialCamp</h1>
	
	<h2>
		A <em>naive</em> <a href='http://basecamp.com'>Basecamp</a> clone.
	</h2>
	
	<% if signed_in? %>
		<p>Welcome back, <%= current_user.name %></p>
	<% else %>
		<%= link_to "Sign up", signup_path, class: "btn btn-large btn-primary" %>
	<% end %>
</div>