<%= provide(:title, 'Discussions') %>

<div class="row">
	<div class="span10 offset1">
		<%= link_to 'New Discussion', new_discussion_path %><br/><br/>
		<table class="table">
			<tbody>
				<%= render partial: 'discussion_summary', collection: @discussions, as: "discussion" %>
			</tbody>
		</table>
		<%= will_paginate %>
	</div>
</div>