<%= provide(:title, 'Create new discussion') %>
<h1>Create new discussion</h1>

<div class="row">
  <div class="span6 offset3">
	<%= render 'form' %>
	<%= link_to 'All discussions', discussions_path %>
  </div>
</div>
