<% provide(:title, 'Edit comment') %>
<h1>Edit comment</h1>

<div class="row">
  <div class="span6 offset3" id="comment-edit">
	<%= render 'form' %>
	<%= link_to 'Back to discussion', @comment.discussion, id: 'discussion-view-link' %>
  </div>
</div>
