<% provide(:title, 'Progress') %>

<div class="row">
	<div class="span10 offset1">
		<h2>What's been happening...</h2>
		<hr/>
		<%= render partial: 'shared/changelog_full', collection: @changelogs, as: 'changelog', locals: { show_user: true } %>

		<%= will_paginate @changelogs %>
	</div>
</div>