<% if object.errors.any? %>
	<div id="error_explanation">
	    <div class="alert alert-error alert-block">
			<h4 class="alert-heading">The form contains <%= pluralize(object.errors.count, "error") %>.</h4>
			<ul>
				<% object.errors.full_messages.each do |msg| %>
	      		<li>* <%= msg %></li>
			    <% end %>
		    </ul>
	    </div>
	</div>
<% end %>
