<%= provide(:title, 'Events') %>

<div class="row">
	<div class="span10 offset1">
		<%= link_to 'New Event', new_event_path %>

		<% unless @upcoming_events.empty? %>
			<hr/>
			<h2>Upcoming Events</h2>
			<%= render partial: 'event_summary', collection: @upcoming_events, as: "event" %>
		<% end %>

		<% unless @past_events.empty? %>
			<hr/>
			<h2>Past Events</h2>
			<%= render partial: 'event_summary', collection: @past_events, as: "event" %>
		<% end %>
	</div>
</div>