@import "bootstrap";
@import "bootstrap-responsive";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* universal */

html {
	overflow-y: scroll;
}

body {
	padding-top: 60px;
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

.center {
	text-align: center;
	h1 {
		margin-bottom: 10px;
	}
}

/* typography */

/*h1, h2, h3, h4, h5, h6 {
	line-height: 1;
}

h1 {
	font-size: 3em;
	letter-spacing: -2px;
	margin-bottom: 30px;
	text-align: center;
}

h2 {
	font-size: 1.7em;
	letter-spacing: -1px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;
	color: $grayLight;
}

p {
	font-size: 1.1em;
	line-height: 1.7em;
}*/

/* header */

.navbar .brand {
/*	override the default Bootstrap style*/
	font-weight: bold;
	color: black;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .1), 0 0 30px rgba(255, 255, 255, .125);
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	transition: all .2s linear;
}



/* footer */

footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid $grayMediumLight;
	color: $grayLight;
	a {
		color: $gray;
		&:hover {
			color: $grayDarker;
		}
	}
	small {
		float: left;
	}
	ul {
		float: right;
		list-style: none;
		li {
			float: left;
			margin-left: 10px;
		}
	}
}

/* miscellaneous */

.debug_dump {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
	@include box_sizing;
}
