@import "bootstrap";
@import "bootstrap-responsive";

 /* some bootstrap styles not loaded, not sure why */
.badge {
  font-size: 10.998px;
  font-weight: bold;
  line-height: 14px;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #999999;

  padding: 1px 9px 2px;
  -webkit-border-radius: 9px;
     -moz-border-radius: 9px;
          border-radius: 9px;
}

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* universal */

html {
	overflow-y: scroll;
}

body {
	padding-top: 60px;
	@media (max-width: 980px) and (min-width: 768px) {
		padding-top: 0;
	}
	@media (max-width: 768px) {
		padding-top: 0;
	}
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

.center {
	text-align: center;
	h1 {
		margin-bottom: 10px;
	}
}

.updated_time {
	font-style: italic;
}

.history-container {
	overflow-y: auto;
}

ul.changelogs-mini {
	list-style: none;
	li {
		color: $grayLight;
		margin-left: -25px;
		font-style: italic;
	}
}

/* typography */

/*h1, h2, h3, h4, h5, h6 {
	line-height: 1;
}*/

h1 {
	font-size: 3em;
	letter-spacing: -2px;
	margin-bottom: 30px;
	text-align: center;
}

/*h2 {
	font-size: 1.7em;
	letter-spacing: -1px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;
	color: $grayLight;
}

p {
	font-size: 1.1em;
	line-height: 1.7em;
}*/

/* header */

.navbar .brand {
/*	override the default Bootstrap style*/
	font-weight: bold;
	color: black;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .1), 0 0 30px rgba(255, 255, 255, .125);
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	transition: all .2s linear;
}



/* footer */

footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid $grayMediumLight;
	color: $grayLight;
	a {
		color: $gray;
		&:hover {
			color: $grayDarker;
		}
	}
	small {
		float: left;
	}
	ul {
		float: right;
		list-style: none;
		li {
			float: left;
			margin-left: 10px;
		}
	}
}

/* miscellaneous */

.debug_dump {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
	@include box_sizing;
}

/* forms */

form .required {
	font-weight: bold;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  height: auto;
  margin-bottom: 15px;
  @include box_sizing;
}

#error_explanation {
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
 }

/* sign up */
.signin_link_on_signup_page {
	display: block;
}

/* users */

.users {
	.user-list {
	  list-style: none;
	  margin: 0;
	  li {
	    overflow: auto;
	    padding: 10px 0;
	    border-top: 1px solid $grayLighter;
	    &:last-child {
	      border-bottom: 1px solid $grayLighter;
	    }
	  }
	}
}


/* events */

.events {
	.date-time-field {
		width: 31.7%;
		margin-left: 0.5%;
		margin-right: 0.5%;
	}
}

/* discussions */

.discussions {
	div {
/*		border: solid 1px black;*/
	}
	.discussion-container {
		padding: 2%;
		margin-bottom: 4px;
		overflow-y: auto;
		background-color: $grayMediumLight;
	}

	.avatar {
		width: 22%;
		float: left;
		padding: 1%;
	}

	.discussion-content-container {
		float: right;
		width: 70%;
		padding: 2%;
	}
	
	.discussion {
		padding-bottom: 2%;
	}
	
	.timestamp {
		font-size: 0.75em;
		float: right;
		clear: right;
	}
	
	.edit-delete {
		float: left;
		clear: left;
	}

	.links {
		clear: both;
	}

	.comment-container {
		padding: 2%;
		margin-bottom: 4px;
		overflow-y: auto;
	}

	.small-avatar {
		width: 22%;
		float: left;
		padding: 1%;
	}

	.comment-content-container {
		float: right;
		width: 70%;
		padding: 2%;
	}
	
	.comment {
		padding-bottom: 2%;
	}
	
	.new-comment {
		margin-top: 2.5%;
	}
	
	hr {
		margin: 0.5% 0;
	}

	td {
		&.avatar-column {
			width: 5%;
		}

		&.username-column {
			width: 10%;
		}

		&.discussion-column {
			max-width: 55%;
			font-size: 1.1em;
		}

		&.timestamp-column {
			
		}

		&.badge-column {
			width: 10%;
		}

	}
}
