@import "bootstrap";
@import "bootstrap-responsive";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* universal */

html {
	overflow-y: scroll;
}

body {
	padding-top: 60px;
	@media (max-width: 980px) and (min-width: 768px) {
		padding-top: 0;
	}
	@media (max-width: 768px) {
		padding-top: 0;
	}
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

.center {
	text-align: center;
	h1 {
		margin-bottom: 10px;
	}
}

.updated_time {
	font-style: italic;
}

/* typography */

/*h1, h2, h3, h4, h5, h6 {
	line-height: 1;
}*/

h1 {
	font-size: 3em;
	letter-spacing: -2px;
	margin-bottom: 30px;
	text-align: center;
}

/*h2 {
	font-size: 1.7em;
	letter-spacing: -1px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;
	color: $grayLight;
}

p {
	font-size: 1.1em;
	line-height: 1.7em;
}*/

/* header */

.navbar .brand {
/*	override the default Bootstrap style*/
	font-weight: bold;
	color: black;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .1), 0 0 30px rgba(255, 255, 255, .125);
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	transition: all .2s linear;
}



/* footer */

footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid $grayMediumLight;
	color: $grayLight;
	a {
		color: $gray;
		&:hover {
			color: $grayDarker;
		}
	}
	small {
		float: left;
	}
	ul {
		float: right;
		list-style: none;
		li {
			float: left;
			margin-left: 10px;
		}
	}
}

/* miscellaneous */

.debug_dump {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
	@include box_sizing;
}

/* forms */

form .required {
	font-weight: bold;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  height: auto;
  margin-bottom: 15px;
  @include box_sizing;
}

#error_explanation {
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
 }

/* sign up */
.signin_link_on_signup_page {
	display: block;
}

/* users */

.users {
	.user-list {
	  list-style: none;
	  margin: 0;
	  li {
	    overflow: auto;
	    padding: 10px 0;
	    border-top: 1px solid $grayLighter;
	    &:last-child {
	      border-bottom: 1px solid $grayLighter;
	    }
	  }
	}
}


/* events */

.events {
	.date-time-field {
		width: 31.7%;
		margin-left: 0.5%;
		margin-right: 0.5%;
	}
}

/* discussions */

.discussions {
	.discussion-container {
		border: solid 1px black;
		padding: 2%;
		margin-bottom: 4px;
		overflow-y: auto;
	}

	.avatar {
		width: 22%;
		float: left;
		padding: 1%;
		/*margin-right: 2%;*/
		border: solid 1px red;
	}

	.discussion {
		float: right;
		width: 70%;
		padding: 2%;
		border: solid 1px green;
	}

	.links {
		border: solid 1px yellow;
		clear: both;
	}

	.comment-container {
		border: solid 1px black;
		padding: 2%;
		margin-bottom: 4px;
		overflow-y: auto;
	}

	.small-avatar {
		width: 22%;
		float: left;
		padding: 1%;
		/*margin-right: 2%;*/
		border: solid 1px red;
	}

	.comment {
		float: right;
		width: 60%;
		padding: 2%;
		border: solid 1px green;
	}
}